  /* COLORS
    sky blue #66a7e5
    clouds #96bbe5 
    grass #9da265*/



/* Box Model Hack */
* {
    box-sizing: border-box;
    font-family: 'Arvo', serif;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
   clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  background-image: url("/images/bodyborder.webp");
  background-size: 100%;
}

header {
  width: 100%;
  height: 537px;
  position: relative;
  background-image: url("/images/background.webp");
  background-size: 100% 537px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

header > *{
  margin: 0 auto;
}

header img {
  width: 200px;
  height: auto;
}

.logo {
  width: 300px;
  height: auto;
}

header a{
  text-decoration: none;
  color: #e46e3f;
  margin: 10px auto;
  padding: 10px;
  width: fit-content;  
  transition: all ease-in-out .4s;
  font-size: 30px;
  -webkit-text-stroke: 2px #000000;
  font-weight: 900;
  font-size: 40px;
  z-index: 10;
}

header a:hover{
  color: white;
  text-shadow: 6px 6px 6px black;
}

footer {
  text-align: center;
  height: 40vh;
}

footer span {
  margin: 0 auto;
  font-size: 50px;
  -webkit-text-stroke: 2px #000000;
  font-weight: 900;
  color: #e46e3f;
  text-shadow: 5px 5px 5px black;

}

.kicker {
  position: absolute;
}

.thigh {
  position: absolute;
  top: 350px;
}

.foot {
  position: absolute;
  top: 350px;
  z-index: 2;
}

.ball {
  position: absolute;
  top: 475px;
  left: 170px;
  width: 80px;
  z-index: 15;
}

.hill {
  position: absolute;
  width: 100%;
  top: 470px;
}

.fa-bounce {
  font-size: 40px;
  position: fixed;
  top: 92%;
  left: 50%;
  z-index: 11;
  text-shadow: 4px 4px 4px rgb(55, 94, 55);
}
@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

main {
  width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

section {
  display: flex;
  position: relative;
  flex-direction: row-reverse;
  margin: 80px 20px;
  background-color: #9da265;
  z-index: 4;
  position: relative;
  border-radius: 20px;
  border: 20px solid black;
  box-shadow: 10px 10px 5px rgb(36, 79, 50);
}

section:nth-child(2n-1) {
  flex-direction: row;
}

main img {
  height: 307px;
  margin: 40px;
  border: 10px solid #944949;
  border-radius: 20px;
  box-shadow: 8px 8px 8px rgb(36, 79, 50);
  transition: all 1s;
}

main img:hover {
  box-shadow: none;
}

.image-wrapper {
  position: relative;
}

.svg-wrapper {
  z-index: 9;
  position: absolute;
  height: 300px;
  top: 35px;
  left: 45px;  
  pointer-events: none;
}


main p {
  margin: auto 20px;
  font-size: 1rem;
}

main b {
  font-size: 40px;
  display: block;
  padding: 10px 0 20px 0;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/






/* fit the example svg in the window, relatively size it */
svg{
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  /* learned about this technique to simulate sketching via css animating from Danny Chahla: https://github.com/dchahla  */
  /* learned more about this via an article at CSS Tricks: https://css-tricks.com/svg-line-animation-works/ */
  path,
  line,
  polyline {
  /* stroke-dasharray affects how long the stroke draw lines are, higher number looks more like drawing, lower number looks like a particle effect  *
    /* stroke-dasharray length helps to be longer than the paths which effectively hides the paths    */
    stroke-dasharray: 2000;  
    /* moves the position of the dashes, which makes them animate-able */
    stroke-dashoffset: 2000;
    /* remove "infinite" to have it draw only once */
    /* depending on the drawing, may need to use stroke-miterlimit to smooth out line segments that join at a sharp angle (can also be adjusted in your image editor):  https://developer.mozilla.org/en-US/docs/Web/SVG/Attribute/stroke-miterlimit */
    /*   stroke-miterlimit:10px; */
  }

  .draw-animation {
    animation: dash 4s;
    animation-fill-mode: forwards;
  }
  
  /* the animation */
  @keyframes dash {
    to {
      /* closing the offset makes the line appear to be drawn-in */
      stroke-dashoffset: 0;
    }
  }