  /* COLORS
    sky blue #66a7e5
    clouds #96bbe5 
    grass #9da265*/



/* Box Model Hack */
* {
    box-sizing: border-box;
    font-family: 'Arvo', serif;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
   clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  background-image: url("/images/bodyborder.webp");
  background-size: 100%;
}

header {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url("/images/background.webp");
  background-size: 100% 537px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  z-index: 2;
  gap: 20px;
}



iframe {
  aspect-ratio: 16/9;
  width: clamp(300px, 80vw, 850px);
  height: fit-content;
}

header > *{
  margin: 0 auto;
}

.logo {
  width: clamp(300px, 60vw, 700px);
}

header a{
  text-decoration: none;
  color: #e46e3f;
  margin: 10px auto;
  padding: 10px;
  width: fit-content;  
  transition: all ease-in-out .4s;
  font-size: 30px;
  -webkit-text-stroke: 2px #000000;
  text-align: center;
  font-weight: 900;
  font-size: clamp(2rem, 4vw, 4rem);
  z-index: 10;
}

header a:hover{
  color: white;
  text-shadow: 6px 6px 6px black;
  z-index: 2;
}

header span {
  color: #e46e3f;
  z-index: 4;
  -webkit-text-stroke: 1.5px #000000;
  font-size: clamp(1.5rem, 4vw, 2rem);
  font-weight: 900;
  text-shadow: 4px 4px 4px black;
  margin-top: auto;
  margin-bottom: 10px;
}


.vert-move {
  -webkit-animation: mover 1s infinite  alternate;
  animation: mover 1.5s infinite  alternate;
}
.vert-move {
  -webkit-animation: mover 1s infinite  alternate;
  animation: mover 1.5s infinite  alternate;
}
@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}


footer {
  text-align: center;
  height: 40vh;
  position: relative;
}

footer span {
  margin: 0 auto;
  text-align: center;
  font-size: clamp(2rem, 3vw, 3rem);
  -webkit-text-stroke: 2px #000000;
  font-weight: 900;
  color: #e46e3f;
  text-shadow: 5px 5px 5px black;

}

.kicker {
  position: absolute;
  height: 200px;
  left: 0;
  top: 30%;
}


.fa-hand-point-up {
  font-size: 40px;
  position: sticky;
  top: 95%;
  left: 50%;
  margin-top: 30px;
  z-index: 11;
  text-shadow: 4px 4px 4px rgb(55, 94, 55);
}
@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

main {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
}

section {
  display: flex;
  position: relative;
  flex-direction: row-reverse;
  margin: 80px 20px;
  background-color: #9da265;
  z-index: 4;
  position: relative;
  border-radius: 20px;
  border: 20px solid black;
  box-shadow: 10px 10px 5px rgb(36, 79, 50);
}

section:nth-child(2n-1) {
  flex-direction: row;
}

main img {
  height: 307px;
  margin: 40px;
  border: 10px solid #944949;
  border-radius: 20px;
}

.image-wrapper {
  position: relative;
}

.svg-wrapper {
  z-index: 9;
  position: absolute;
  height: 300px;
  top: 38px;
  left: 37px;  
  pointer-events: none;
  margin: 0;
}

.april .svg-wrapper {
  left: 44px;
  top: 44px;
}

.adam .svg-wrapper {
  left: 48px;
  top: 48px;
}

.chris .svg-wrapper{
  left: 48px;
  top: 44px;
}

.hollis .svg-wrapper {
  left: 46px;
  top: 45px;
  scale: .95;
}

.lars .svg-wrapper {
  left: 44px;
  top: 44px;
}

.claude .svg-wrapper {
  left: 45px;
  top: 45px;
  scale: .98s;
}

.alice .svg-wrapper{
left: 44px;
top: 44px;
}

.joe .svg-wrapper {
  top: 43px;
  left: 45px;
  scale: .98;
}

.lani .svg-wrapper {
  left: 45px;
}

.charles .svg-wrapper {
  left: 45px;
  top: 45px;
}

.sarah .svg-wrapper {
  left: 45px;
}

.gabe .svg-wrapper {
  left: 45px;
}

@media (max-width: 770px) {
  .emma .svg-wrapper{
    top: 18px;
    left: 10px !important;
  }

  .svg-wrapper {
    top: 16px !important;
    left: 16.5px !important;
  }
}

svg {
  min-height: 300px;
}


main p {
  margin: auto 20px;
  font-size: 1rem;
}

main b {
  font-size: 40px;
  display: block;
  padding: 10px 0 20px 0;
}



@media (max-width: 770px) {
  header{
    display: flex;
    align-content: space-around;
    justify-content: space-around;
    gap: 0;
  }

  .vert-move {
    margin:0 auto;
  }

  section{
    width: 100%;
    flex-direction: column;
    margin: 10% 0;
    border: none;
    align-items: center;
    background-color: #9da26500;
    box-shadow: none;
  }

  section p {
    background-color: #9da265;
    z-index: 4;
    position: relative;
    border-radius: 20px;
    border: 5px solid black;
    box-shadow: 10px 10px 5px rgb(36, 79, 50);
    padding: 5%;
  }

  section:nth-child(2n-1) {
    flex-direction: column;
  }

  main {
    width: 100%;
  }

  main img {
    margin: 5%;
  }

  iframe {
    width: 90%;
    height: 260px;
  }

}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/


  /* learned about this technique to simulate sketching via css animating from Danny Chahla: https://github.com/dchahla  */
  /* learned more about this via an article at CSS Tricks: https://css-tricks.com/svg-line-animation-works/ */
  path,
  line,
  polyline {
  /* stroke-dasharray affects how long the stroke draw lines are, higher number looks more like drawing, lower number looks like a particle effect  *
    /* stroke-dasharray length helps to be longer than the paths which effectively hides the paths    */
    stroke-dasharray: 84000;  
    /* moves the position of the dashes, which makes them animate-able */
    stroke-dashoffset: 84000;
    /* remove "infinite" to have it draw only once */
    /* depending on the drawing, may need to use stroke-miterlimit to smooth out line segments that join at a sharp angle (can also be adjusted in your image editor):  https://developer.mozilla.org/en-US/docs/Web/SVG/Attribute/stroke-miterlimit */
    /*   stroke-miterlimit:10px; */
  }

  .draw-animation {
    animation: dash 6s;
    animation-fill-mode: forwards;
  }
  
  /* the animation */
  @keyframes dash {
    to {
      /* closing the offset makes the line appear to be drawn-in */
      stroke-dashoffset: 0;
    }
  }